.jumbotron{
    background-color: #004F9E;
    color: azure;
}

.form-row
{
    padding-top: 100px;
    color: azure;
}

.logoMariana{
    border-radius: 100px;
}

.bodyMain{
    background-image: url("banner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.container{
    background-color: #004F90;
    color: azure;
}

.enlacePie {
    color: azure;
}
